.header {
  text-decoration: none;
  background-color: #476a6f;
  padding: 1rem 10rem 1.2rem 10rem;

  nav {
    display: flex;
    justify-content: space-between;

    a {
      background-color: white;
      text-decoration: none;
      color: #2c4549fd;
      border: 0.5px solid grey;
      padding: 0.25rem;
      border-radius: 0.2rem;

      &:hover {
        border: none;
        background-color: lightgrey;
      }
    }
  }
}
